@page "/HodDetails/{Id:int}"
@inherits HodDetailsBase

@if (Hod == null && ErrorMessage == null)
{
    <h3>Loading product Details.........</h3>
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
    <h3 class="mb-5">Hod Details</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Hod.ImageURL">
        </div>
        <div class="col-md-6">
            <h3>@Hod.Name</h3>
            <p class="mb-4">@Hod.Email</p>
        </div>
    </div>
}
